cover*.out
.tmp

# Test binary
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage.html

# Local specific files
.DS_Store
.vscode

# Docker Storage Files
dev/storage/
dev/rabbitmq-data/

#Go
vendor/
log/

# Environment Variables
.env
*/*.env
.test.env
